/* Error: From line 78, column 5 of before\before.scss: 
 *    ╷
 * 78 │     .block_important {
 *    │     ^^^^^^^^^^^^^^^^^
 *    ╵
 * You may not @extend selectors across media queries.
 *    ,
 * 83 |         @extend .block_important;
 *    |         ^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   before\before.scss 83:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: From line 78, column 5 of before\\before.scss: \a    \2577 \a 78 \2502      .block_important {\d\a    \2502      ^^^^^^^^^^^^^^^^^\a    \2575 \aYou may not @extend selectors across media queries.\a    \2577 \a 83 \2502          @extend .block_important;\d\a    \2502          ^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   before\\before.scss 83:9  root stylesheet";
}
