@import 'font';

// map - 변수 정의
$palette: (
  primary-color: #007bff,
  secondary-color: #0056b3,
  warning-color: red,
  text-color: #333,
);

// 전역, 지역변수
$light-text-color: #666; //전역

// 연산자 사용하기
$booleanValue: (true, false);
$boolean: nth($booleanValue, 2); // n번째 값 가져오기
$width: 301px;

// interpolation
$btn_name: btn;

// !default flag 초기값
$content: 'Before flag';
$content: 'After flag' !default; //이미 할당됬다면 먹지않는다.

// nesting
div {
  &:before {
    //ampersand 부모요소를 참조
    content: $content;
  }
  &.card {
    width: ($width + 100 - 50) * 1.5;
    @if $width <= 300px {
      padding: 0px;
    } @else if ($width <= 310px) and ($boolean == true) {
      padding: 5px;
    } @else {
      padding: 20px;
    }
    // inline if문
    background-color: if($boolean == true, blue, #f0f0f0);
    border: 1px solid #ccc;
    border-radius: abs(-5px); // 절대값
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    > h2 {
      width: percentage(ceil(0.5)); //% , 올림
      background: white;
      font-size: round(floor(1.5rem)); //반올림, 잘사
      color: map-get($palette, text-color);
      margin-bottom: unquote('10px'); // 따옴표 제거
    }

    p {
      $light-text-color: map-get($palette, warning-color); //지역

      font-size: 1.2rem;
      color: darken($light-text-color, 20%); //휘도 변경 lighten darken
      line-height: 1.5;
    }

    .#{$btn_name} {
      background-color: map-get($palette, primary-color);
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      // &:hover를 사용하여 .btn:hover 스타일 정의
      &:hover {
        background-color: map-get($palette, secondary-color);
      }
    }

    // placeholder selectors
    %block_important {
      display: block !important;
      margin: 0.5rem 0;
    }

    // 상속, @media 안에서 @extend를 쓰면 ERROR
    .#{$btn_name + '_red'} {
      @extend .#{$btn_name};
      @extend %block_important;
      color: map-get($palette, warning-color);
    }
    @media print {
      * {
        // @extend .block_important;
        display: none;
      }
    }

    // @mixin & @include
    @mixin btn_borderStyle($borderWidth) {
      border-radius: 10px;
      border: $borderWidth solid map-get($palette, secondary-color);
    }

    // @function & @return
    @function hasReturn($num) {
      @return $num * 10px;
    }
    p {
      font-size: hasReturn(2);
    }

    // 반복문
    @for $i from 0 through 2 {
      .#{$btn_name}_#{$i} {
        width: 5rem +1rem * $i;
        // hue 색상변경
        background: adjust-hue(map-get($palette, secondary-color), 5% * $i);
        // saturate desaturate 채도변경
        box-shadow: 7px 7px 7px desaturate(red, 50% * $i);
        @include btn_borderStyle(($i + 1) * 5px);
      }
    }

    //join() 리스트 + 리스트
    $eachColorList: (
      0: red,
      1: orange,
    );
    $eachColorList: join(
      $eachColorList,
      (
        2: green,
      )
    );
    @each $num, $eachColor in ($eachColorList) {
      .#{'rainbow_' + $num} {
        color: $eachColor;

        // append() 리스트 + 요소 & space 쉼표제거
        margin: append((10px, 10px), 0px, space);
      }
    }
    $j: 2;
    @while $j > 0 {
      .#{$btn_name}_#{$j} {
        font-size: 2rem * $j;
      }
      $j: $j - 1;
    }
  }
}

// 한줄 주석은 css에서 사라지고
/* 한줄 주석과 다르게 멀티 주석은 css에서 남아있다. */
