@import 'font';

// map - 변수 정의
$palette: (
  primary-color: #007bff,
  secondary-color: #0056b3,
  warning-color: red,
  text-color: #333,
);

// 전역, 지역변수
$light-text-color: #666; //전역

// 연산자 사용하기
$boolean: false;
$width: 301px;

// interpolation
$btn_name: btn;

// !default flag 초기값
$content: 'Before flag';
$content: 'After flag' !default; //이미 할당됬다면 먹지않는다.

// nesting
div {
  &:before {
    //ampersand 부모요소를 참조
    content: $content;
  }
  &.card {
    width: ($width + 100 - 50) * 1.5;
    @if $width <= 300px {
      padding: 0px;
    } @else if ($width <= 310px) and ($boolean == true) {
      padding: 5px;
    } @else {
      padding: 20px;
    }
    // inline if문
    background-color: if($boolean == true, blue, #f0f0f0);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    > h2 {
      font-size: 1.5rem;
      color: map-get($palette, text-color);
      margin-bottom: 10px;
    }

    p {
      $light-text-color: map-get($palette, warning-color); //지역
      font-size: 1.2rem;
      color: $light-text-color;
      line-height: 1.5;
    }

    .#{$btn_name} {
      background-color: map-get($palette, primary-color);
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      // &:hover를 사용하여 .btn:hover 스타일 정의
      &:hover {
        background-color: map-get($palette, secondary-color);
      }
    }

    // placeholder selectors
    %block_important {
      display: block !important;
      margin: 0.5rem 0;
    }

    // 상속, @media 안에서 @extend를 쓰면 ERROR
    .#{$btn_name + '_red'} {
      @extend .#{$btn_name};
      @extend %block_important;
      color: map-get($palette, warning-color);
    }
    @media print {
      * {
        // @extend .block_important;
        display: none;
      }
    }

    // 반복문
    @for $i from 0 through 2 {
      .#{$btn_name}_#{$i} {
        width: 5rem +1rem * $i;
      }
    }
  }
}
